@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Merienda&display=swap');
html, body{
	margin : 0px;
	padding : 0px;
	background-color: rgb(160, 180, 179)
}

* {
    box-sizing : border-box;
}

.main{
    background-image:url(bois.jpg);
    background-size:30%;
    opacity:0.70;
}
.entete h1 {
    color : rgb(207, 99, 128);
    font-family : 'Amatic SC', cursive;
    font-size:48px;
	width : 500px;
	text-align: center;
	background-color: rgb(108, 92, 97);
	margin : 0px auto 0px;
}

.entete nav a{
    display : inline-block;
    width : calc( 100% / 3 - 5px);
    margin-right : 5px;
    background-color: rgb(108, 92, 97);
    text-align : center;
    font-family : 'Amatic SC', cursive;
    color : rgb(207, 99, 128);
    font-size : 38px;
}
.entete nav a:first-child{
margin-left : 2.5px;
}
.entete nav a:last-child{
margin-right : 0px;
}

h1 {
text-align : center;
}